
/* -------- BASIC SETUP ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*------COMMONLY USED CLEARFIX IN WEB DESIGN, TO CLEAR FLOATS----*/
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}




/* -------- HEADINGS ---------------*/
h1, h2, h3, h4 {
    font-weight: 300;
    text-transform: uppercase;

}

h1 {
    margin: 0px 0px 20px 0px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #3498db;
    content: " ";
    width: 150px;
    margin: 25px auto 0 auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

h4 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: left;
}

/* -------- REUSUABLE COMPONENTS ---------------*/
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section {
    padding: 80px 0px 80px 0px;
}

.box {
    padding: 1%;
}


/* -------- PARAGRAPHS ---------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;

}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}



/* -------- ICONS ---------------*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #3498db;
    margin-bottom: 10px;
    text-align: center;

}



/* -------- BUTTONS SECTION (FIRST SECTION) ---------------*/

.btn:link,
.btn:visited,
input[type="submit"] {
    display: inline-block;
    background-color: #fff;
    color: #fff;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.22s, border 0.22s, color 0.22s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3498db;
    border: thin solid #3498db;
    margin-right: 15px;
    
}

.btn-full:hover,
.btn-full:active {
    background-color: #1f74ac00;
    color:  #3498db;
    
}

.btn-ghost:link,
.btn-ghost:visited,
input[type="submit"] {
    background-color: #1f74ac00;
    border: thin solid #3498db;
    color: #3498db;
}

.btn-ghost:hover,
.btn-ghost:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    color: #fff;
    border: thin solid #3498db;
    background-color: #3498db;

}



/* -------- HEADER ---------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.hero-text-box {
    position: absolute;
    width: 1140px;

    /* Keeps this box centered */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 20px;
}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
    
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
    
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 0px 0px 8px 0px;
    border-bottom: 2px solid transparent;
    border-radius: 7px;
    transition: border-bottom 0.2s, margin-right 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2d9ee9;
    margin-right: 6px;
}

/*--------------FEATURES-----------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}






/*-------------- MEALS --------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: right;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    transform: scale(1.20);
    transition: transform 0.4s, opacity 0.4s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}



/*-------------- HOW IT WORKS SECTION --------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;

}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;

}

.works-steps:last-of-type {
    margin-bottom: 80px;
}

.app-screen {
    width: 50%;
    transition: transform 1s;
}

.app-screen:hover {
    transform: rotate(5deg);
}

.works-steps {
    margin-bottom: 50px;
}



.works-steps div {
    color: #3498db;
    border: 2px solid #3498db;
    /*display: inline-block;*/
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;

}

.btn-app img {
    height: 54px;
    width: auto;
    margin-right: 10px;
    transition: transform 0.2s, border-radius 0.2s;
}

.btn-app img:hover {
    transform: scale(1.055);
    border-radius: 20px;
}



/*------------CITIES SECTION-------------*/

.section-cities {
    width: 100%;
    
}

.section-cities .row {
    width: 100%;
    
}

.section-cities div div .city-image{
    height: auto;
    width: 100%;
    margin: 15px auto 10px auto;
    transition: border-radius 0.3s;
}

.section-cities div div .city-image:hover{
    border-radius: 30px;
}

.city-paragraph {
    line-height: 150%;
    letter-spacing: 1px;
    color: rgb(43, 43, 43);

}

.city-paragraph a:link,
.city-paragraph a:visited {
    color: #033bd6;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: color 0.25s, border-bottom 0.25s;
    
}

.city-paragraph a:hover {
    color: #43acf1;
    border-bottom: 1px solid ;

}

.city-icon {
    display: inline-block;
    color: #3498db;
    margin-right: 15px;
    margin-left: 8px;
    font-size: 120%;
    
    /*Secrets to align icons and text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;

}



/*---------CUSTOMER TESTIMONIALS SECTION---------*/

.customer-testimonials {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url(images/back-customers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.customer-testimonials p, 
.customer-testimonials blockquote {
    font-style: italic;
    width: 94%;
    margin-top: 30px;
    line-height: 150%;
    text-align: left;
    position: relative;
}

.customer-testimonials p:before, 
.customer-testimonials blockquote:before {
    display: block;
    content: "\201c";
    font-size: 450%;
    position: absolute;
    top: -15px;
    left: -10px;
}

.customer-testimonials img {
    margin-top: 25px;
    margin-bottom: 28px;
    margin-right: 15px;
    vertical-align: middle;
    width: 75px;
    height: auto;
    border-radius: 50%;
}


/*------SIGN-UP SECTION-------*/

.section-sign-up {
    background-color: #f4f4f4;
}

.section-sign-up-first-third {
    background-color: #e8f1ff;
    width: 85%;
    border-radius: 15px;
    box-shadow: 7px 7px 5px #e6e6e6;
    
}

.section-sign-up-second-third {
    background-color: #fff;
    border-top: thin solid rgb(221, 221, 221);
}

.section-sign-up-third-third {
    background-color: #e8f1ff;
    border-top: thin solid rgb(221, 221, 221);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section-sign-up h4 {
    padding: 15px;
    font-weight: 300;
}

.sign-up-price {
    display: inline-block;
    color: rgb(224, 191, 0);
    font-size: 300%;
    font-weight: 200;
    padding-left: 10px;

}
.sign-up-month {
    display: inline-block;
    color: rgb(223, 191, 10);
    margin-left: 12px;
    font-size: 100%;
}

.sign-up-per-meal {
    margin-top: 15px;
    font-size: 80%;
    padding-left: 15px;
    padding-bottom: 10px;
}

.sign-up-list {
    list-style: none;
    line-height: 170%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sign-up-list i {
    font-size: 70%;
    color: rgb(212, 183, 16);
    margin-right: 15px;
    padding-left: 15px;
    
}

.sign-up-btn:link,
.sign-up-btn:visited {
    display: inline-block;
    color: #3498db;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 2px solid #3498db;
    border-radius: 200px;
    transition: background-color 0.22s, color 0.22s;
}

.sign-up-btn:hover,
.sign-up-btn:active {
    color: #fff;
    background-color: #3498db;
    
}

.section-sign-up-third-third p {
    text-align: center;
    padding: 15px;
}



/*----------FORM SECTION---------*/

.contact-form {
    width: 60%;
    margin: 0 auto 0 auto;
}


input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: thin solid #ccc;
}

textarea {
    height: 100px;
}

input[type="checkbox"] {
    margin: 10px 5px 10px 0px;
}

*:focus {
    outline: none;
}


/*-----------FOOTER----------*/

footer {
    background-color: rgb(31, 31, 31);
    position: relative;
    padding: 50px;
    
}

footer ul{
    width: 100%;
    list-style: none;
    float: right;
    
    
    
    
}

footer ul li {
    width: 100%;
    margin-right: 22px;
    display: inline;
}

footer p {
    color: rgb(156, 156, 156);
    text-align: center;
    line-height: 170%;
    margin: 40px 0px 0px 0px;
    font-size: 75%;
    
}

.footer-links {
    width: 30%;
    margin-top: 40px;
    margin-right: 0px;
    position: absolute;
    top: 0%;
    left: 8%;
    
}

.footer-links a:link,
.footer-links a:visited {
    color: rgb(156, 156, 156);
    text-decoration: none;
    transition: color 0.2s;
}

.footer-icons {
    font-size: 110%;
    width: 20%;
    margin-top: 40px;
    margin-right: 0px;
    position: absolute;
    top: 0%;
    right: 8%;
    
}

.footer-icons a:link,
.footer-icons a:visited {
    color: rgb(156, 156, 156);
    text-decoration: none;
    font-size: 110%;
    transition: color 0.2s;
}


.footer-links a:hover,
.footer-links a:active,
.footer-icons a:hover,
.footer-icons a:active {
    color: rgb(233, 230, 230);
}